html, body, div, span, h1, h2, a, img, ul, li, form, label, table, caption, tr, th, td, article, aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
}

a {
    transition: transform, 0.5s;
}

a:hover {
    transform: scale(1.1);
}

a:focus {
    outline: none;
    opacity: 0.5;
    transition: unset;
}

html, body {
    min-width: 320px;
    font-size: 16px;
    color: #1f1f24;
    background-color: #fbfbfb;
    overflow-x: hidden;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='submit'] {
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
}

img {
    border: 0; max-width: 100%;
}

.hide {
    display: none;
}
 
.show {
    display: block;
}

.fixed {
	position: fixed;
    overflow: hidden;
    width: 100%;
    max-width: inherit;
}

.clearfix::after {
	display: block;
    content: "";
    clear: both;
}

.hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

input, textarea {
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}