@font-face {
     font-family: 'Roboto';
     src: url('Roboto-Regular.eot');
     src: local('Roboto'), local('Roboto-Regular'),
         url('../../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto/Roboto-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

 @font-face {
     font-family: 'Roboto';
     src: url('Roboto-Bold.eot');
     src: local('Roboto'), local('Roboto-Bold'),
         url('../../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Roboto/Roboto-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
 }