//Десктопы

@media (max-width: 1800px) {
    .whatido__benefits-item {
        margin: 0 10% 0 10%;
    }
}

@media (max-width: 1600px) {
    .whatido__benefits-item {
        margin: 0% 5% 0% 5%;
    }
}

//Планшеты

@media (max-width: 1024px) {
    .header__menu {
        display: none;
    }
    .header__button {
        width: 207px;
    }
    .header__phone {
        margin-right: 29px;
    }
    .header__burger {
        display: block;
    }
    .container {
        padding: 29px 3.9% 0 3.9%
    }
    .cover__container {
        padding: 0 0 0 3.9%;
        margin-bottom: 251px;
        position: relative;
    }
    .cover__text {
        margin-top: 237px;
    }
    .cover__title {
        font-size: 54px;
    }
    .cover__subtitle {
        margin-top: 21px;
    }
    .cover__button {
        margin-top: 20px;
        width: 320px;
        height: 68px;
    }
    .cover__pic {
        width: 50%;
        height: 635px;
        position: absolute;
        left: 476px;
    }
    .cover__person {
        z-index: 999;
        top: 12px;
        left: 76px;
        height: 98%;
    }
    .cover__gradient {
        position: absolute;
        background-image: url(../../img/Ellipse_1.svg);
        background-size: 100% 83%;
        top: 108px;
        height: 100%;
        width: 100%;
    }
    .whatido__container {
        padding: 62px 3.9% 106px 3.9%;
    }
    .whatido__title {
        margin-right: 25px;
    }
    .whatido__benefits-container {
        padding: 0 16% 0 15%;
    }
    .whatido__benefits-item {
        margin: 0% 0% 10% 0%;
    }
    .whatido__benefits-item:nth-child(2) {
        max-width: 269px;
    }
    .whatido__benefits-item:nth-child(2)>.benefits-item__img {
        margin-left: 0px;
    }
    .whatido__benefits-item:nth-child(2)>.benefits-item__title {
        padding-left: 0px;
    }
    .whatido__benefits-item:nth-child(3) {
        padding-left: 0px;
    }
    .whatido__benefits-item:nth-child(3)>.benefits-item__title {
        padding-left: 0px;
    }
    .whatido__benefits-item:nth-child(4) {
        padding-left: 0px;
    }
    .whatido__button {
        width: 322px;
        height: 67px;
        margin-top: 9px;
    }

    // Slider START

    .swiper-pagination {
        display: block;
    }
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    .portfolio__container {
        padding: 87px 3.9% 101px 3.9%;
    }
    .portfolio__title {
        margin-left: 3px;
    }
    .portfolio__button {
        margin-top: 86px;
        width: 320px;
        height: 68px;
    }
    .swiper-container {
        padding-bottom: 107px;
    }
    .swiper-slide__title {
        margin-top: 17px;
        font-size: 1.6em;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 15px;
    }
    .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
    }
    .swiper-pagination-bullet-active {
        background-color: $color_dark_red;
    }

    //Slider END

    .banner__container {
        padding-bottom: 64px;
    }
    .banner__text {
        padding: 0 3.9% 0 3.9%;
    }
    .footer__container {
        padding: 99px 3.9% 67px 3.9%;
    }
    .footer__contacts {
        margin-left: 54px;
    }
    .footer__phone {
        margin-bottom: 29px;
    }
    .copyright {
        padding-right: 1.4%;
    }

    .popup__form {
        width: 50%;
        height: 87vh;
    }

    // Cover tags

    .cover__tag-div-1 {
        font-size: 30px;
        transform: translate(847px, 73px) rotate(-15deg);
    };
    .cover__tag-div-2 {
        display: none;
        font-size: 38px;
        transform: translate(0px, 0px) rotate(20deg);
    };
    .cover__tag-pound {
        font-size: 56px;
        transform: translate(18px, 554px) rotate(16deg);
    };
    .cover__tag-braces {
        font-size: 50px;
        transform: translate(38px, 78px) rotate(27deg);
    };
    .cover__tag-slash-1 {
        font-size: 41px;
        transform: translate(318px, 507px) rotate(-23deg);
    };
    .cover__tag-slash-2 {
        display: inline;
        font-size: 46px;
        transform: translate(382px, 155px) rotate(14deg);
    };

    // Banner tags

    .banner__tag-div {
        font-size: 24px;
        transform: translate(29px, 131px) rotate(20deg);
    };
    .banner__tag-pound {
        display: none;
        font-size: 55px;
        transform: translate(0px, 91px) rotate(16deg);
    };
    .banner__tag-braces-1 {
        font-size: 33px;
        transform: translate(-341px, -148px) rotate(27deg);
    };
    .banner__tag-braces-2 {
        display: none;
        font-size: 48px;
        transform: translate(0px, 0px) rotate(-18deg);
    };
    .banner__tag-slash {
        font-size: 40px;
        transform: translate(390px, 121px) rotate(-22deg);
    };
    
}

//Смартфоны

@media (max-width: 768px) {

}

//Смартфоны 2

@media (max-width: 576px) {

}

//Смартфоны 3

@media (max-width: 320px) {

}