@import "fonts.scss";
@import "colors.scss";
@import "consta.scss";
@import "swiper.scss";
@import "keyframes.scss";

// POPUP START
.popup__container {
    position: fixed;
    z-index: 9999;
}
.popup__container:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}

.popup__form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
	padding: 20px;	
	background: #fff;
	border: 1px solid $color_light_red;
	border-radius: 5px; 
	z-index: 9999;
    opacity: 1;	
}

.popup__title {
    text-align: center;
    font-size: 2em;
}

.popup__subtitle {
    font-size: 1.1em;
    text-align: center;
}

.popup__descripton {
    text-align: center;
    font-size: 0.8em;
}

.popup__label {
	font-size: 18px;
    color: $color_symbol;
}

.popup__input {
    width: 100%;
	height: 42px;
	background-color: #ff4d2e1f;
	border: 1px solid #ff4e2e1f;
    display: block;
    margin: 10px 0;
    padding-left: 10px;
    outline: 0;
}

.popup__textarea {
    width: 100%;
    height: 15vh;
	background-color: #ff4d2e1f;
	border: 1px solid #ff4e2e1f;
    display: block;
    margin: 10px 0;
    padding-left: 10px;
    outline: 0;
}

input, textarea {
    font-size: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.popup__button  {
    width: 100%;
	height: 55px;
    cursor: pointer;
}

.popup__close {
	position: absolute;
	top: 10px;
    right: 17px;
    width: 20px;
    height: 20px;
    background-image: url('../../img/close.png');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.popup__error {
    border: 1px solid red;
}

.popup__error-text {
    font-size:14px;
    color: red;
    text-align: center;
}

// POPUP END

a:hover {
    transform: scale(1.1);
    transition: transform, 0.5s;
}

.tag {
    position: absolute;
    font-weight: bold;
    color: white;
    z-index: 10;
    animation-name: fadeInDownBig;
}

.tag-gradient {
    color: #fa0891;
    background: -webkit-linear-gradient(#fa0891, #f26522);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    max-width: 1920px;
	margin: 0 auto;
    position: relative;
    padding: 0 19.7% 0 19.7%;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 29px 19.55% 0 19.5%;
}

.header__burger {
	padding: 0;
	display: none;
	width: 45px;
	height: 45px;
	background-image: url('../../img/burger.svg');
	background-size: 45px;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

.menu__list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.menu__item {
    display: inline-block;
}
.menu__link {
    color: black;
    text-decoration: none;
}

// Эффект ховера пунктов меню - Начало

.menu__link:after {
    display: block;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $color_light_red;
    content: "";
    transition: width 0.3s ease-out;
}
    
.menu__link:hover:after,
.menu__link:focus:after {
    width: 100%;
}

// Эффект ховера пунктов меню - Конец

.header-menu__item {
    margin-right: 28px;
}

.header-menu__item:last-child {
    margin-right: 0;
}

.phone {
    text-decoration: none;
    color: black;
    font-size: 1.62em; 
    font-weight: 600; 
    letter-spacing: -0.5px;
}

.phone:hover {
    text-decoration: none;
}

.header__phone {
    margin-left: auto;
    margin-right: 27px;
    margin-bottom: 3px;
}

.button {
    margin: 0;
    padding: 0;
    background-color: none;
    border: 1px solid $color_dark_red;
    font-size: 16px;
    color: #fbfbfb;
    background-color: $color_dark_red;
    cursor: pointer;
    transition: 0.5s;
    outline: 0;

    &:hover {
        color: $color_dark_red; 
        background-color: #fbfbfb;
        transition: color 0.3s linear, background-color 0.3s linear;
    }
    &:active {
        outline: 0;
    }
}

.header__button {
    width: 205px;
    height: 44px;
    color: $color_dark_red;
    border: 1px solid $color_light_red;
    background-color: #fbfbfb;

    &:hover {
        color: #fbfbfb;
        background-color: $color_dark_red;
        transition: color 0.5s linear, background-color 0.5s linear;
    }
}

.cover__container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 235px 19.55%;
    position: relative;
}

.title {
    font-size: 5em;
    font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
}

.cover__text {
    margin-top: 210px;
    z-index: 999;
}

.cover__subtitle {
    font-size: 1.55em;
    font-weight: 500;
    margin-top: 13px;
}

.cover__button {
    width: 267px;
    height: 59px;
    margin-top: 19px;
    font-size: 18px;
    color: white;
    background-color: $color_dark_red;
    border: 1px solid $color_dark_red;
}

.cover__pic {
    z-index: 110;
    width: 52.5%;
    height: 627px;
    position: absolute;
    right: 0;
    top: 60px;
    overflow: hidden;
}

.cover__person {
    position: absolute;
    left: 273px;
    top: 6px;
    width: 432px;
    height: 99%;
    min-width: 432px;
    z-index: 980;
}

.cover__gradient {
    position: absolute;
    background-image: url(../../img/gradientfull.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 99% 119%;
    top: 4px;
    left: 19.3%;
    height: 100%;
    width: 100%;
    min-width: 562px;
    overflow: hidden;
}

.cover__tag-div-1 {
    font-size: 29px;
    top: 13%;
    left: 41.1%;
    transform: rotate(-13deg);
    animation-duration: 1.4s;
};
.cover__tag-div-2 {
    font-size: 38px;
    top: 66.8%;
    left: 49.5%;
    transform: rotate(20deg);
    transition: transform, 2s, 'linear', 1.7s;
    animation-duration: 1.6s;
};
.cover__tag-pound {
    font-size: 55px;
    top: 41.3%;
    left: 12.9%;
    transform: rotate(18deg);
    transition: transform, 2s, 'linear', 1.9s;
    animation-duration: 1.8s;
};
.cover__tag-braces {
    font-size: 50px;
    top: 8.2%;
    left: 6.8%;
    transform: rotate(27deg);
    transition: transform, 2s, 'linear', 2.1s;
    animation-duration: 2s;
};
.cover__tag-slash-1 {
    font-size: 41px;
    top: 85.3%;
    left: 19.67%;
    transform: rotate(-22deg);
    transition: transform, 2s, 'linear', 2.3s;
    animation-duration: 2.2s;
};
.cover__tag-slash-2 {
    display: none;
    font-size: 46px;
    top: 33.3%;
    left: 41.2%;
    transform: rotate(14deg);
    transition: transform, 2s, 'linear', 1s;
};

.whatido {
    background-color: #fff;

    &__container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        padding: 85px 19.2% 96px 19.4%;
    }
    
    &__title {
        font-size: 3.4em;
    }
    
    &__benefits-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 88px;
    }

    &__button {
        width: 268px;
        height: 60px;
        margin-right: 3px;
        margin-top: 71px;
        font-size: 18px;
        color: white;
        background-color: $color_dark_red;
        border: 1px solid $color_dark_red;
    }

    &__benefits-item:nth-child(2) {
        max-width: 285px;
    }
    &__benefits-item:nth-child(2)>.benefits-item__img {
        margin-left: 42px;
    }
    &__benefits-item:nth-child(2)>.benefits-item__title {
        padding-left: 5px;
    }
    &__benefits-item:nth-child(3) {
        padding-left: 25px;
    }
    &__benefits-item:nth-child(3)>.benefits-item__title {
        padding-left: 14px;
    }
    &__benefits-item:nth-child(4) {
        padding-left: 12px;
    }
}

.benefits-item {
    text-align: center;
    max-width: 269px;
    list-style: none;

    &__img {
        width: 76px;
        height: 74px;
    }
    &__title {
        margin-top: 11px;
        font-size: 1.3em;
        line-height: 1.4em;
        color: $color_symbol;
    }
}

//Slider START

.portfolio__container {
    width: 1157px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 92px 0px 101px 0px;
}

.portfolio__button {
    width: 268px;
    height: 59px;
    margin-top: 75px;
    font-size: 18px;
}

.portfolio__title {
    font-size: 3.4em;
    margin-bottom: 99px;
    margin-left: 8px;
}

.slider-container {
    width: 100%;
}

.swiper-container {
    width: 100%;
}

.portfolio__swiper-slide {
    text-align: center;
}

.swiper-slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide__title {
    margin-top: 31px;
    font-size: 1.2em;
    color: $color_symbol;
}
    
.swiper-button-next {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    background-image: url('../../img/arrow_prev.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    transform: rotate(180deg);
    width: 60px;
    height: 64px;
    top: 46%;
    left: auto;
    right: -2.7%;

    &::after {
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transition: opacity, 0.5s, linear;
    }
}
    
.swiper-button-prev {
    cursor: pointer;
    background-image: url('../../img/arrow_prev.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    width: 61px;
    height: 64px;
    top: 46%;
    left: -2.7%;

    &::after {
        display: none;
    }

    &:hover {
        opacity: 0.8;
        transition: opacity, 0.5s, linear;
    }
}

.swiper-pagination {
    display: none;
}

//Slider END

.banner {
    background-image: linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__container {
        padding: 76px 0 60px 0;
        position: relative;
    }

    &__text {
        padding: 0 21.49% 0 25.49%;
        color: white;
    }

    &__title {
        font-size: 2.8em;
        line-height: 58px;
    }

    &__desc {
        font-size: 1.2em;
        margin-top: 31px;
        width: 86%;
        line-height: 29px;
    }
}

.banner__tag-div {
    font-size: 36px;
    bottom: 5%;
    right: 21.4%;
    transform: rotate(20deg);
    animation-duration: 1.4s;
};
.banner__tag-pound {
    font-size: 55px;
    bottom: 13%;
    left: 13%;
    transform: rotate(16deg);
    animation-duration: 1.6s;
};
.banner__tag-braces-1 {
    font-size: 48px;
    top: 16.5%;
    left: 6.8%;
    transform: rotate(27deg);
    animation-duration: 1.8s;
};
.banner__tag-braces-2 {
    font-size: 49px;
    transform: rotate(-18deg);
    bottom: 13.5%;
    right: 5.7%;
    animation-duration: 2s;
};
.banner__tag-slash {
    font-size: 40px;
    top: 20.5%;
    right: 10.8%;
    transform: rotate(-22deg);
    animation-duration: 2.2s;
};

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 75px 20.7% 65px 19.55%;
}

.footer-menu__item {
    line-height: 33px;
}

.footer__menu {
    font-size: 1.1em;   
}

.footer-menu__item {
    display: block;
}

.footer__contacts {
    margin: 6px 0px 0px 95px;
    font-style: inherit;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    color: #fa0891;
    font-size: 0.9em;;
    background: -webkit-linear-gradient(#fa0891, #f26522);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-phone {
    margin-right: 7px;
    font-size: 25.7px;
}

.icon-mail-alt {
    margin-right: 10px;
    padding-left: 3px;
}

.footer-contacts__link {
    display: block;
    color: black;
    font-size: 1.6em;
    text-decoration: none;
}

.footer__phone {
    margin-bottom: 28px;
}

.footer__button {
    border: 1px solid $color_dark_red;
    width: 247px;
    height: 46px;
    font-size: 16px;
    color: $color_light_red;
    background-color: #fbfbfb;

    &:hover {
        color: #fbfbfb;
        background-color: $color_dark_red;
        transition: color 0.5s linear, background-color 0.5s linear;
    }
}

.social {
    margin-top: 30px;
}

.footer__social-list {
    padding: 0;
    margin: 0;
    margin-top: 29px;
}

.footer__social-item {
    display: inline-block;
}

.footer__social-item:last-child>a {
    margin-right: 0;
}

.footer__social-link {
    width: 40px;
    height: 40px;
    display: inline-block;
    background-repeat: no-repeat;
}

.vk-icon {
    background-image: url(../../img/icons/social.png);
    background-size: auto 30px;
    margin-right: 10px;
}

.fb-icon {
    background-image: url(../../img/icons/social.png);
    background-position: -56px 0px;
    background-size: auto 30px;
    margin-right: 8px;
}

.tw-icon {
    background-image: url(../../img/icons/social.png);
    background-position: -110px 0px;
    background-size: auto 30px;
    margin-right: 12px;
}

.inst-icon {
    background-image: url(../../img/icons/social.png);
    background-position: -169px 0px;
    background-size: auto 30px;
}

.copyright {
    display: block;
    background-color: #31293c;
    font-size: 1em;
    font-style: inherit;
    text-align: center;
    color: white;
    padding: 29px 0.74% 32px 0px;
}










@import "mobile.scss";
// @import "keyframes.scss"