@import "fonts.scss";
@import "colors.scss";
@import "consta.scss";

body {
    background-color: #fff;
    height: 3000px;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
    position: relative;
    padding: 0 375px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px 0px 0px;
}

nav  {
    & ul li {
        display: inline-block;
        margin-right: 28px;
    }

    & ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    & ul li:last-child {
        margin-right: 0;
    }
    
    & a {
        color: black;
    }
    
    & a:hover {
        text-decoration: none;
        border-bottom: 1px solid $color_light_red;
        color: $color_light_red;
    } 
}

.contacts {
    margin-left: auto;
    font-size: 1.62em;
    margin-right: 29px;
    font-weight: 600;
    letter-spacing: -0.5px;

    & a {
        color: black;
    }
    
    & a:hover {
        text-decoration: none;
    }
}

button.callback {
    border: 1px solid $color_dark_red;
    width: 208px;
    height: 49px;
    font-size: 16px;
    color: $color_light_red;
    background-color: #fbfbfb;
    cursor: pointer;
}

.cover {
    display: flex;
    justify-content: space-between;
}

.text {
    margin-top: 211px;
    margin-left: 375px;
    z-index: 100;

    & h1 {
        font-size: 5em;
        font-weight: 700;
        z-index: 50;
    }
    
    & h2 {
        font-size: 1.55em;
        font-weight: 500;
        margin-top: 15px;
    }
    
    & button {
        width: 270px;
        height: 60px;
        margin-top: 45px;
        font-size: 18px;
        color: white;
        background-color: $color_dark_red;
        border: 1px solid $color_dark_red;
    }
}

.cover {
    display: flex;
    justify-content: space-between;
}

.pic {
    margin-top: 60px;
    z-index: 10;
    float: right;
    width: 42.5%;
    height: 635px;
    position: relative;

    & .chel {
        position: absolute;
        left: 87px;
        top: 0;
        width: 432px;
        height: 633px;
    }
    & .gradient {
        height: 100%;
        width: 100%;
        background-image: url(../../img/gradientfull.svg);
        background-repeat: no-repeat;
        background-size: 1000px 762px;
        background-position: top left;
        overflow: hidden;
        // background-image: -moz-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
        // background-image: -webkit-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
        // background-image: -ms-linear-gradient( 77deg, rgb(255,143,90) 0%, rgb(255,47,150) 99%);
    }
}

.whatido {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 96px;

    & h2 {
        font-size: 3.4em;
    }

    & .benefits-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 87px;

        & .benefits-item {
            text-align: center;
            max-width: 269px;

            & img {
                width: 80px;
                height: 74px;
            }
            & p {
                margin-top: 16px;
                font-size: 1.3em;
                color: $color_symbol;
            }
        }
    }

    & button {
        width: 270px;
        height: 60px;
        margin-top: 99px;
        font-size: 18px;
        color: white;
        background-color: $color_dark_red;
        border: 1px solid $color_dark_red;
    }
}

.portfolio {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 96px;
    width: 100%;

    & h2 {
        font-size: 3.4em;
    }

    & .swiper-container {
        width: 100%;
        height: 100%;
        margin-top: 99px;
        position: relative;

        & .swiper-wrapper {
            justify-content: space-between;
        }

        .swiper-slide {
            width: auto;
            text-align: center;

            & p {
                margin-top: 31px;
                font-size: 1.2em;
                color: $color_symbol;
            }
          }
    
        .swiper-button-next {
            z-index: 2;
            position: absolute;
            background-image: url('../../img/arrow_next.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
            width: 60px;
            height: 60px;
            top: 40%;
            right: -2.6%;
            &::after {
                display: none;
            }
        }
    
        .swiper-button-prev {
            background-image: url('../../img/arrow_prev.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
            width: 60px;
            height: 60px;
            top: 40%;
            left: -2.6%;
            &::after {
                display: none;
            }
        }
    }

    & button {
        width: 269px;
        height: 58px;
        margin-top: 96px;
        font-size: 18px;
        color: white;
        background-color: $color_dark_red;
        border: 1px solid $color_dark_red;
    }
}